@import "src/imports";

$home-title-size: 3em;
$home-title-name-size: 5rem;

$home-title-size-mobile: 1.5em;
$home-title-name-size-mobile: 2.5rem;

.home-title {
  color: $snow;
  @include media("<=phone") {
    font-size: $home-title-size / 2;
  }
  @include media(">phone") {
    font-size: $home-title-size;
  }
  font-size: $home-title-size;
  font-family: lemonMilk-regular, $font-fallback;
}

.home-title-name {
  font-family: lemonMilk-bold, $font-fallback;
  @include media("<=phone") {
    font-size: $home-title-name-size / 2;
  }
  @include media(">phone") {
    font-size: $home-title-name-size;
  }
  font-size: $home-title-name-size;
}

.home-title-text-loop {
  font-family: lemonMilk-bold-italic, $font-fallback;
}

.home-background {
  background-image: $home-gradient;
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
}

.home-button {
  @include btn-border-drawing($snow, $color5, 0.5em, bottom, right);
  color: $snow;
  padding: 0.5em;
  @include media("<=phone") {
    font-size: $home-title-size-mobile / 2;
  }
  @include media(">phone") {
    font-size: $home-title-size / 2;
  }
  font-family: lemonMilk-bold, $font-fallback;
}

.align-home-button {
  @include media("<=phone") {
    margin-right: 25%;
    margin-left: 25%;
  }
  @include media(">phone") {
    margin-left: 50%;
  }
}

.fixed-bottom {
  position: absolute;
  bottom: 0;
}

.github-text {
  @include text-gradient($snow, $color5);
  @include media("<=phone") {
    right: 0;
    margin: 1em;
  }
  @include media(">phone") {
    margin: 1.4em;
    right: 0;
  }
  font-size: $home-title-size-mobile;
  color: $snow;
  font-family: lemonMilk-bold, $font-fallback;
}