@import "~react-bulma-components/src/index.sass";

$color-background-primary: #232323;

.home-background {
  background-color: $color-background-primary;
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
}